*{margin: 0; padding: 0;}

header,main,footer,nav,aside,section,aside{
    display: block;
}

header{
    background-color: #F2E9E9;
    height: 123px;
    width: 100%;
}


a{
    text-decoration: none;
    color: #000000;
    margin-left: 18px;
}

nav{
    font-family: Amiko;
    font-weight: 400px;
    font-size: 24px;
}

ul{
    list-style-type: none;
}

.dotabove{
    position: relative;
}

.dotselected{

    background-color: #F72828;
    border-radius: 50%;
    height: 14px;
    width: 14px;
    position: absolute;
    bottom:35px;
    right: 15px;
}

a:hover{
    font-weight: bolder;
}

.navcontainer{
    display: flex;
    flex-direction: row;
    position: relative;
    left: 575px;
    top: 52px;
}

.navcontainerdyn{
    display: flex;
    flex-direction: row;
    position: relative;
    left: 25px;
    top: 123px;
}

footer.widescreen{
    background-color: #000000;
    height: 41px;
    position: relative;
    width: 100%;

}

footer.longscreen{
    background-color: #000000;
    height: 41px;
    position: fixed;
    bottom: 0px;
    width: 100%; 
    z-index: 2;
}

div.underfooter{
    background-color: #FFFFFF;
    width: 1440px;
    height: 500px;
    position: fixed;
    top:1281px;
    z-index: 2;
}

.mixtitle{
    font-family: Amiko; 
    font-size: 72px;
    font-weight: 700px;
    height: 97px;
    position: absolute;
    top: 267px;
    left: 244px;
}
.mixline{
    font-family: Amiko; 
    font-size: 24px;
    font-weight: 700px;
    height: 33px;
    position: absolute;
    left:244px;
    top: 354px;
}

.smallblock{
    background-color: #EBEF18;
    width: 28px;
    height: 55px;
    margin-top: 11px;
}

.longblock{
    background-color: #EBEF18;
    width: 28px;
    height: 198px;
    margin-top: 11px;
}



.topleftblock{
    background-color: #EBEF18;
    width: 75px;
    height: 23px;
}

.biggertopleftblock{
    background-color: #EBEF18;
    width: 136px;
    height: 46px;
    margin-top: 8px;
}

.longestblock{
    background-color: #EBEF18;
    width: 134px;
    height: 404px; 
    margin-top: 11px;
}

.smallestblocks{
    background-color: #EBEF18;
    width: 25px;
    height: 26px; 
    margin-top: 7px;
    
}

.bottomleft{
    background-color: #EBEF18;
    width: 88px;
    height: 28px;  
    margin-top: 11px;
}

.smallblockcontainer{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 57px;
}

.leftsection{
    position: absolute;
    top: 258px;
    left: 688px;   
}

.biggestblock{
    background-color: #EBEF18;
    width: 264px;
    height: 352px;
    position: absolute;
    left: 837px;
    top: 258px;  
}

.rightcoloum{
    position: relative;
    left: 1111px;
    top: 80px;
}

.bigbottomblock{
    background-color: #EBEF18;
    width: 123px;
    height: 212px;
    position: relative;
    left: 837px;
    top: 92px;
}

.bottomstandingblock{
    background-color: #EBEF18;
    width: 55px;
    height: 105px;
}

.bottomcontainer{
    display: flex;
    flex-direction: row;
    width: 165px;
    height: 105px;
    justify-content: space-between;
    position: relative;
    left: 974px;
    bottom: 120px;
}

.bottomlayingblock{
    background-color: #EBEF18;
    width: 110px;
    height: 58px;
    position: relative;
    left: 974px;
    bottom: 113px;
}

.longaside{
    width: 169px;
    height: 1860px;
    background-color: #6f0000;
    position: absolute;
    right: 0px;
}

aside.thickaside{
    width:100%;
    height: 463px;
    background-color: #6f0000;
}

.myname{
    font-family: Amiko;
    font-size: 96px;
    height: 641px;
    flex-direction: column;
    position: relative;
    left: 24px;
    top: 544px;
    z-index: 1;
}

.grayblock{
    width: 457px;
    height: 299px;
    background-color: #C4C4C4;
    margin-top: 70px;
}

.grayblockcutR{
    width: 457px;
    height: 97px;
    background-color: #C4C4C4;
    margin-top: 70px;
}

.grayblockcutL{
    width: 457px;
    height: 265px;
    background-color: #C4C4C4;
    margin-top: 70px;
}

.graycontainerL{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 151px;
    top:50px;
    margin-top: 119px;
}

.graycontainerR{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 663px;
    top: 200px;
}

.blackcube{
    width: 80px;
    height: 80px;
    background-color: #000000;
}

.blackcubeinheader{
    width: 80px;
    height: 80px;
    background-color: #000000;
    position: absolute;
    top: 21px;
    right: 24px;
}

.whitecube{
    width: 80px;
    height: 80px;
    background-color: #FFFFFF;
    position: relative;
    left: 89px;
    bottom: 312px;

}

.blackcubecontainer{
    display: flex;
    flex-direction: column;
    height: 577px;
    justify-content: space-between;
    position: relative;
    top: 119px;
}

aside.grayaside{
    width: 372px;
    height: 995px;
    position: relative;
    background-color: #E5E5E5;
}

aside.right3layout{
    width: 104px;
    height: 995px;
    background-color: #b30000;
    opacity: 30%;
    position: absolute;
    right: 0px;
}

#wrapper{
    width: 100%;
    margin: 0px auto;
}

@media only screen and (max-width:480px){

    #wrapper{
        width: 480px;
        margin: 0px auto;
    }

    header{
        background-color: #F2E9E9;
        height: 123px;
        width: 200%;
    }
    aside.right3layout{
        display: none;
    }

    aside.grayaside{
        height: 105px;
        width: 200%;
        position: relative;
    }

    .navcontainerdyn{
        display: flex;
        flex-direction: row;
        position: relative;
        left: 252px;
        top: 45px;
    }

    .blackcubeinheader{
        width: 80px;
        height: 80px;
        background-color: #000000;
        position: relative;
        top: 21px;
        left: 744px;
    }

    aside.thickaside{
        width: 200%;
        height: 463px;
        background-color: #6f0000;
        position: relative;
        top: 1346px;
    }

    footer.widescreen{
        background-color: #000000;
        height: 41px;
        position: relative;
        top: 1320px;
        width: 200%;
    
    }
}
